/* Disclaimer
1. "Verified Graduate" has the same color as the person's name with 50% opacity
2. Review paragraphs inside the quotations have the same color as well, but are at 70% opacity */

:root {
  --moderate-violet: hsl(263, 55%, 52%);
  --moderate-violet-light: hsla(263, 54%, 75%);
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --very-dark-blackish-blue: hsl(219, 29%, 14%);
  --light-gray: hsl(0, 0%, 81%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --font: "Barlow Semi Condensed", "sans-serif";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

body {
  background-color: var(--light-grayish-blue);
  margin: 64px 0;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.card {
  max-width: 320px;
  padding: 20px;
  margin: 0 auto;
  border-radius: 8px;
}

.card--identifier {
  display: flex;
}

.card--identifier img {
  border-radius: 50%;
  margin-right: 16px;
  width: 36px;
  height: 36px;
}

.card--identifier-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card--name {
  font-size: 1rem;
  font-weight: 500;
}
.card--verified {
  font-size: 0.8rem;
  font-weight: 400;
  opacity: 50%;
}

.card--info {
  margin-top: 24px;
  font-size: 1.3rem;
  font-weight: 600;
}
.card--quote {
  margin-top: 24px;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.2rem;
  opacity: 70%;
}

.card1 {
  background-color: var(--moderate-violet);
  background-image: url(../images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: 194px 2px;
  color: white;
}

.card1 img {
  border: solid 2px var(--moderate-violet-light);
}

.card2 {
  background-color: var(--very-dark-grayish-blue);
  color: white;
}
.card3 {
  background-color: white;
  color: var(--very-dark-grayish-blue);
}
.card4 {
  background-color: var(--very-dark-blackish-blue);
  color: white;
}
.card5 {
  background-color: white;
  color: var(--very-dark-grayish-blue);
  -webkit-box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.24);
  -moz-box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.24);
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.24);
}
